/* @import url('https://fonts.googleapis.com/css2?family=Archivo&family=Josefin+Sans:wght@600&display=swap'); */

.container {
  min-height: 100vh;
  width: 100%;
  /* background-color: orange; */
  background: url("/static/images/my_bg1.svg") center center no-repeat;
  background-size: cover;
}

.main {
  min-height: 88vh;
  padding: 4rem 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: whitesmoke; */
  /* background: url("/static/images/my_bg1.svg") center center no-repeat;
  background-size: cover; */
}

.footer {
  display: flex;
  padding: 2rem 0;
  color: white;
  border-top: 0.1rem solid aqua;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 37);
}

.footer h3 {
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.title,
.description {
  color: aqua;
  text-align: center;
}

.description {
  margin: 3rem 0 0.5rem 0;
  font-family: 'Archivo', sans-serif;
  /* line-height: 1.5; */
  /* font-size: 1.5rem; */
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.modal {
  position: absolute;
  /* min-height: 100%; */
  /* min-width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.31);
  z-index: 1000;
  opacity: 0.7;
}

/*Media Queries  */

@media only screen and (max-width: 480px) {

  .main {
    min-height: 90vh;
    padding: 2rem 0;
    /* background: yellowgreen; */
  }

  .footer {
    display: none;
  }

}

@media only screen and (min-width: 481px) and (max-width: 720px) {

  .main {
    min-height: 90vh;
    padding: 2rem 0;
    /* background-color: yellowgreen; */
  }

  .footer {
    display: none;
  }

}