@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Mochiy+Pop+One&display=swap');

.navbar {
    height: 12vh;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(1, 1, 37);
}

.navbar .leftSide {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.navbar .leftSide .logo {
    margin-right: 3rem;
    color: aqua;
    font-family: 'Mochiy Pop One', sans-serif;
    cursor: pointer;
}

.navbar .leftSide .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .leftSide .menus h3 {
    margin: 0 1rem;
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
}

.navbar .leftSide .menus h3:hover {
    color: aqua;
}

.navbar .middle {
    width: 30rem;
    padding: 0.5rem;
    /* background-color: orange; */
}

.navbar .middle input {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.2rem;
    border: 0.1rem solid grey;
    border-radius: 0.8rem;
}

.navbar .rightSide {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.navbar .rightSide h1 {
    cursor: pointer;
}

.navbar .rightSide h1:hover {
    color: aqua;
}

.navbar .rightSide h3 {
    margin: 0 1rem;
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
}

.navbar .rightSide h3:hover {
    color: aqua;
}

.activelink {
    color: aqua !important;
}