@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Inconsolata:wght@500&family=Josefin+Sans:wght@600&display=swap');

.profile_div {
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/static/images/my_bg123.svg") center center no-repeat;
    background-size: cover;
    /* background-color: orange; */
}

.profile_div .profile_head {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: aqua;
    font-family: 'Josefin Sans', sans-serif;
}

.profile_div .box {
    width: 35%;
    padding: 1rem;
    min-height: 30vh;
    max-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.3rem 0.1rem grey;
    /* background-color: yellowgreen; */
    background-color: white;
}

.profile_div .box .flexDiv {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.profile_div .box .flexDiv h2, .profile_div .box .flexDiv input {
    margin-right: 1rem;
}

.profile_div .box .flexDiv h2 {
    font-family: 'Cormorant SC', serif;
}

.profile_div .box .flexDiv input {
    outline: none;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    padding: 0.5rem 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

.profile_div .box .flexDiv .icons {
    cursor: pointer;
}

.profile_div .box .btnDiv {
    width: 24rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.profile_div .box .btnDiv button {
    outline: none;
    width: 100%;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    color: white;
    font-size: 1.2rem;
    font-family: 'Cormorant SC', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(1, 1, 37);
    border-radius: 0.5rem;
    cursor: pointer;
}

.profile_div .box .btnDiv .editbtn {
    background-color: rgb(0, 0, 91);
}

.profile_div .box .btnDiv .editbtn:hover {
    color: rgb(0, 0, 91);
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.profile_div .box .btnDiv .cancelbtn {
    background-color: red;
}

.profile_div .box .btnDiv .cancelbtn:hover {
    color: red;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    .profile_div {
        min-height: 90vh;
    }

    .profile_div .box {
        width: 90vw;
        padding: 1rem;
        min-height: 40vh;
        max-height: 50vh;
        /* background-color: yellowgreen; */
    }

    .profile_div .box .flexDiv {
        width: 100%;
        padding: 0.5rem;
        justify-content: center;
        /* background-color: pink; */
    }

    .profile_div .box .flexDiv h2, .profile_div .box .flexDiv input {
        margin-right: 0.5rem;
    }

    .profile_div .box .flexDiv input {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .profile_div .box .btnDiv {
        width: 100%;
        padding: 0.5rem;
        /* background-color: orange; */
    }

    .profile_div .box .btnDiv button {
        width: 100%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 600px) {

    .profile_div {
        min-height: 90vh;
    }

    .profile_div .box {
        width: 80%;
        padding: 1rem;
        min-height: 40vh;
        max-height: 50vh;
        /* background-color: yellowgreen; */
    }

    .profile_div .box .flexDiv {
        width: 100%;
        padding: 0.5rem;
        justify-content: center;
        /* background-color: pink; */
    }

    .profile_div .box .flexDiv h2, .profile_div .box .flexDiv input {
        margin-right: 1rem;
    }

    .profile_div .box .flexDiv input {
        /* font-size: 1.1rem; */
        padding: 0.5rem;
    }

    .profile_div .box .btnDiv {
        width: 100%;
        padding: 0.5rem;
        /* background-color: orange; */
    }

    .profile_div .box .btnDiv button {
        width: 100%;
    }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    .profile_div {
        min-height: 90vh;
    }

    .profile_div .box {
        width: 70%;
        padding: 1rem;
        min-height: 40vh;
        max-height: 50vh;
        /* background-color: yellowgreen; */
    }

    .profile_div .box .flexDiv {
        width: 100%;
        padding: 0.5rem;
        justify-content: center;
        /* background-color: pink; */
    }

    .profile_div .box .flexDiv h2, .profile_div .box .flexDiv input {
        margin-right: 1rem;
    }

    .profile_div .box .flexDiv input {
        /* font-size: 1.1rem; */
        padding: 0.5rem;
    }

    .profile_div .box .btnDiv {
        width: 100%;
        padding: 0.5rem;
        /* background-color: orange; */
    }

    .profile_div .box .btnDiv button {
        width: 100%;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

    .profile_div .box {
        width: 50%;
        min-height: 40vh;
        max-height: 50vh;
        /* background-color: yellowgreen; */
    }

    .profile_div .box .btnDiv {
        width: 24rem;
        /* background-color: orange; */
    }

    .profile_div .box .btnDiv button {
        width: 100%;
    }

}