@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Mochiy+Pop+One&display=swap');

.register {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}

.register .leftDiv {
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orchid; */
}

.register .leftDiv .left_wrapper {
    height: 60vh;
    width: 45%;
    /* background-color: yellowgreen; */
}

.register .leftDiv .left_wrapper .head_Div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: brown; */
}

.register .leftDiv .left_wrapper .head_Div .head {
    font-family: 'Mochiy Pop One', sans-serif;
    /* line-height: 0; */
    margin-bottom: 2rem;
}

.register .leftDiv .left_wrapper .inputDiv {
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.register .leftDiv .left_wrapper .inputDiv input, .register .leftDiv .left_wrapper .inputDiv button {
    outline: none;
    font-size: 1.2rem;
    border-radius: 1.2rem;
}

.register .leftDiv .left_wrapper .inputDiv input {
    outline: none;
    padding: 0.7rem 1.5rem;
    margin-bottom: 2rem;
    border: 0.1rem solid grey;
}

.register .leftDiv .left_wrapper .inputDiv button {
    padding: 0.7rem 2rem;
    margin-bottom: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #3521b5;
}

.register .leftDiv .left_wrapper h3 {
    font-weight: normal;
    font-family: 'Ibarra Real Nova', serif;
}

.register .leftDiv .left_wrapper .loginText {
    color: #3521b5;
    cursor: pointer;
}

.register .rightDiv {
    position: relative;
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* background-color: #3521b5; */
    background: url("../public/static/images/banner_bg.jpg") center center no-repeat;
}

.register .rightDiv .img_div {
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: olive; */
}

/* .register .rightDiv::before {
    position: absolute;
    content: "";
    min-height: 100%;
    min-width: 100%;
    background: url("../public/static/images/banner3.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0.85;
    z-index: 10;
} */

.register .rightDiv h1 {
    /* color: #3521b5; */
    color: white;
    font-family: 'Ibarra Real Nova', serif;
    border: none;
    border-radius: 1rem;
}